name: CI Build 

on: 
  push: 
    branches: [ main ] 
  pull_request:   
jobs: 
    build: 
        runs-on: windows-latest 
        
        steps: 
          - name: Checkout 
            uses: actions/checkout@v4 

          - name: Install Qt 
            uses: jurplel/install-qt-action@v3 
            with: 
                version: 6.6.0 
                host: windows 
                target: desktop 
                modules: qtcharts 
            
          - name: Install dependencies 
            run: | 
                choco install ninja cmake sqlite -y 
                
          - name: Configure (MSVC) 
            shell: cmd 
            run: | 
              "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat" 
              cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release 
                
          - name: Build 
            shell: cmd 
            run: | 
              "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat" 
              cmake --build build --config Release 
          - name: Debug Qt paths 
            shell: pwsh 
            run: | 
              Write-Host "Qt6_DIR = $Env:Qt6_DIR" Write-Host "Parent 1 = " (Get-Item $Env:Qt6_DIR).Parent.FullName
              Write-Host "Parent 2 = " (Get-Item $Env:Qt6_DIR).Parent.Parent.FullName 
              Write-Host "Parent 3 = " (Get-Item $Env:Qt6_DIR).Parent.Parent.Parent.FullName 
              Write-Host "Parent 4 = " (Get-Item $Env:Qt6_DIR).Parent.Parent.Parent.Parent.FullName
              
          - name: Deploy Qt dependencies 
            shell: pwsh 
            run: | 
              $qtRoot = (Get-Item $Env:Qt6_DIR).Parent.Parent.Parent.FullName 
              $qtBin = Join-Path $qtRoot "bin\windeployqt.exe" 
              & $qtBin build/VehicleTelemetryGUI.exe --release --compiler-runtime
                
          - name: Upload packaged app 
            uses: actions/upload-artifact@v4 
            with: 
                name: VehicleTelemetryGUI 
                path: build/ 
                
          - name: Run tests 
            run: ctest --test-dir build