name: CI Build 

on: 
  push: 
    branches: [ main ] 
  pull_request:   
jobs: 
    build: 
        runs-on: windows-latest 
        
        steps: 
          - name: Checkout 
            uses: actions/checkout@v4 

          - name: Install Qt 
            uses: jurplel/install-qt-action@v3 
            with: 
                version: 6.6.0 
                host: windows 
                target: desktop 
                modules: qtcharts 
                set-env: true

          - name: Debug Qt install paths 
            shell: pwsh 
            run: | 
              Write-Host "Qt6_DIR_FILE = $Env:Qt6_DIR_FILE" 
              Write-Host "Contents:" 
              Get-Content $Env:Qt6_DIR_FILE
            
          - name: Install dependencies 
            run: | 
                choco install ninja cmake sqlite -y 
                
          - name: Configure (MSVC) 
            shell: cmd 
            run: | 
              "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat" 
              cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release 
                
          - name: Build 
            shell: cmd 
            run: | 
              "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat" 
              cmake --build build --config Release 

          - name: Deploy Qt dependencies 
            shell: pwsh 
            run: | 
              $qtCmakeDir = Get-Content $Env:Qt6_DIR_FILE 
              $qtRoot = (Get-Item $qtCmakeDir).Parent.Parent.Parent 
              $qtBin = Join-Path $qtRoot.FullName "bin\windeployqt.exe" 
              Write-Host "Using windeployqt at: $qtBin" 
              & $qtBin build/VehicleTelemetryGUI.exe --release --compiler-runtime
                
          - name: Upload packaged app 
            uses: actions/upload-artifact@v4 
            with: 
                name: VehicleTelemetryGUI 
                path: build/ 
                
          - name: Run tests 
            run: ctest --test-dir build