name: CI Build 

on: 
  push: 
    branches: [ main ] 
  pull_request: 
   
jobs: 
  build: 
    runs-on: windows-latest 
    
    steps: 
      - name: Checkout 
        uses: actions/checkout@v4 

      - name: Install Qt 
        uses: jurplel/install-qt-action@v3 
        with: 
            version: 6.6.0
            host: windows 
            target: desktop
            modules: qtcharts

      - name: Install dependencies 
        run: | 
          choco install ninja cmake sqlite -y
       
      - name: Configure 
        run: cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release 
        
      - name: Build 
        run: cmake --build build --config Release
        
      - name: Deploy Qt dependencies 
        run: | 
          $qtPath = "${Env:Qt6_DIR}\..\..\bin\windeployqt.exe" 
          & $qtPath build/VehicleTelemetryGUI.exe --release --compiler-runtime

      - name: Upload executable 
        uses: actions/upload-artifact@v4 
        with: 
            name: VehicleTelemetryGUI 
            path: build/
      
      - name: Run tests 
        run: ctest --test-dir build