name: Code Quality 

on: 
  pull_request: 
  
jobs: 
  analysis: 
    runs-on: ubuntu-latest 
    
steps: 
  - name: Checkout 
    uses: actions/checkout@v4 
    
  - name: Install tools 
    run: | 
      sudo apt update 
      sudo apt install -y clang-tidy cppcheck 
      
  - name: Run clang-tidy 
    run: clang-tidy **/*.cpp --warnings-as-errors=* || true 
    
  - name: Run cppcheck 
    run: cppcheck --enable=all --error-exitcode=1 src/