name: Release 

on: 
  push: 
    tags: 
      - "v*.*.*" 
      
jobs: 
  package: 
    runs-on: ubuntu-latest 
    
    steps: 
    - name: Checkout 
      uses: actions/checkout@v4 
      
    - name: Install dependencies 
      run: | 
        sudo apt update 
        sudo apt install -y qtbase5-dev cmake ninja-build 
        
    - name: Build Release 
      run: | 
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release 
        cmake --build build --config Release 
        
    - name: Upload artifact 
      uses: actions/upload-artifact@v4 
      with: 
        name: telemetry_project 
        path: build/